body {
    color: #ffffff;
    font-size: 16px;
}

.homer {
    height: auto;
    padding: 2rem;
}

.labelcheck {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.homer h2 {
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
}

.homer p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.upload-main {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #2dccef;
}

.ex {
    margin-top: -3rem;
    font-size: 0.6rem;
    color: white;
}

.ex2 {
    width: 3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.ef1 {
    border: 0.6px solid #4fbdf0;
}

.ef2 {
    border-radius: 50%;
}

.ex-a {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    margin-top: 2rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 0.4rem;
    background-color: #2dccef;
}

.show-ex {
    margin-top: 2rem;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .homer {
        padding: 1rem;
        margin-top: 4rem;
    }

    .homer h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .homer p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .upload-main {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
    }

    .ex {
        margin-top: -2rem;
        font-size: 0.5rem;
    }

    .ex2 {
        width: 2rem;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }

    .ex-a {
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem;
        margin-top: 1rem;
    }

    .show-ex {
        margin-top: 1rem;
    }

    .ex-1-1 {
        margin-top: -2rem;
        color: white;
        padding-bottom: 5rem;
    }
}

.ex-1-1 {
    margin-top: -2rem;
    color: white;
    padding-bottom: 5rem;
}


.homer {
    height: auto;
    padding: 2rem;
}

.homer h2 {
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
}

.homer p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .homer {
        padding: 1rem;
        margin-top: 4rem;
        text-align: center; /* Center align text */
    }

    .homer h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .homer p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}
