.imager-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Adjust based on the height of your navbar */
    margin: 0;
}
.imager {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
    background-color: #050505;
    padding-bottom: 3rem;
    width: 65rem;
    padding-top: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: -4rem;
}

.imager {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
    background-color: #050505;
    padding-bottom: 3rem;
    width: 65rem;
    padding-left: 5rem;
    padding-top: 3rem;
    justify-content: center;
}


.imager img {
    max-width: 30rem;
    max-height: 30rem;
}

.logo1 {
    height: 2rem;
    pointer-events: none;
    margin-bottom: 2rem;
    margin-top: -10rem;
}

.contains {
    margin-top: 5rem;
    margin-right: 4rem;
    text-align: left;
    
}

.like {
    font-size: 0.6rem;
    background-color: white;
    color: black;
    padding: 0.2rem;
    border-radius: 0.6rem;
    margin-top: -0.8rem;
}

.titleL {
    color: white;
}

.imager, .imager * {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .imager {
        flex-direction: column;
        width: 80%; 
        max-width: none; 
        margin: 0;
        padding: 0;
    }

    .like {}

    .imager img, .contains {
        max-width: 100%; 
    }

    .logo1 {
        margin-top: -5rem;
    }

    .contains {
        margin-top: 2rem;
        margin-right: 0;
        text-align: center;
    }

    .like {
        margin-top: 0;
    }
}