body {
  background-image: url(/public/copertina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-s {
  color: white;
  font-size: 0.7rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.signup {
  border: 1px solid rgb(37, 150, 190);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 1.5rem;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Custom Sidebar */
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #37a6c4;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background-color: #0e0e0e;
  width: 100%;
}

.foot-s {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}

.text-center {
  font-size: 0.6rem;
  color: #3b3b3b;
}

.foot-a {
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.foot-s-a p {
  text-align: left;
}

.foot-a-s p {
  text-align: right;
}

.ghij {
  justify-content: space-between;
}

.login {
  background-color: #49b6e9f6;
  text-decoration: none;
  display: block;
  padding: 0.1rem;
  margin-top: 0.4rem;
  color: white;
  text-decoration: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: 4rem;
  border-radius: 0.5rem;
}

.signup {
  border: 1px solid #49b6e9f6;
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  margin-top: 0.4rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .App {
  }

  .container {
      flex-direction: column;
  }

  .signup {
      width: 100%;
  }

  .login {
      width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens with a maximum width of 480px */
  .App {
      font-size: 14px;
  }

  
  .App-logo {
      height: 30vmin;
  }

  .logo {
      height: 1rem;
  }

  .foot-s {
      font-size: 0.6rem;
  }

  .text-center {
      font-size: 0.5rem;
  }

  .foot-a {
      font-size: 0.7rem;
  }
}

/* Adjust styles for screens with a maximum width of 320px */
@media screen and (max-width: 320px) {
  .App {
      font-size: 12px;
  }

  .App-logo {
      height: 25vmin;
  }

  .logo {
      height: 0.8rem;
  }

  .foot-s {
      font-size: 0.5rem;
  }

  .text-center {
      font-size: 0.4rem;
  }

  .foot-a {
      font-size: 0.6rem;
  }
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0e0e0e;
  width: 100%;
}





.foot-s {
  font-size: 0.8rem; /* Adjust font size for small screens */
  color: white;
  margin: 0; /* Remove default margin */
}

.text-center {
  font-size: 0.7rem; /* Adjust font size for small screens */
  color: #3b3b3b;
}

.foot-a {
  color: #ffffff;
  font-size: 0.9rem; /* Adjust font size for small screens */
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.foot-a-s p,
.foot-s-a p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  text-align: center; /* Center align text for small screens */
}

.ghij {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



/* Media Queries */
@media screen and (max-width: 768px) {
  .foot {
      padding: 0.5rem; /* Adjust padding for smaller screens */
  }
  
  .foot-s,
  .text-center,
  .foot-a {
      font-size: 0.7rem; /* Adjust font size for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .foot {
      padding: 0.2rem; /* Adjust padding for extra small screens */
  }
  
  
  

  .foot-s,
  .text-center,
  .foot-a {
      font-size: 0.6rem; /* Adjust font size for small screens */
  }
}